.theme-light {
    --card--background-color:white;
    --page--background-color:#E1E6E8;
    --button--background-color:#47cdff;
    --header--background-color:white;

    --text--default-color: #222;
    --text--accent-color: #47cdff;
    --text--accent-light-color: #8aesfe;
    --text--muted-color:rgba(0,0,0,0.3);
    --text--muted-light-color: rgba(255,255,255, 0.1);

}